{% extends 'base.html' %}

{% block content %}
    <h5 style="text-align: center">Search results for: "{{ search | title }}"</h5>

    <div class="row">

        {% for post in postings %}
    
            <div class="col s4">
                <div class="card">
                    <a href="/"><img src="/" alt=""></a>
                </div>
                <div class="class-content">
                    <p>{{ post.0 }}</p>
                </div>
                <div class="class-action">
                    <a href="{{ post.1 }}">Price: {{ post.2 }} </a>
                </div>
            </div>

        {% endfor %}

    </div>

    
{% endblock content %}