<div class="row">

    <!-- LIGHTNING THINGY -->
    <div class="col s4">
        <div class="center">
            <i class="large material-icons" style="color: rgb(25, 190, 149)">flash_on</i>
            <p>Fast web scraper</p>
            <p class="light center">Search for anything you need</p>
        </div>
    </div>

    <!-- ORANGE THINGY -->
    <div class="col s4">
        <div class="center">
            <i class="large material-icons" style="color: orange">camera</i>
            <p>Filter your searches</p>
            <p class="light center">Filtering functionality</p>
        </div>
    </div>

    <!-- BLUE NOTEBOOK -->
    <div class="col s4">
        <div class="center">
            <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
            <p>Improved GUI</p>
            <p class="light center">Enjoy the user experience</p>
        </div>
    </div>


</div>