{% load staticfiles %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% comment %} logo icon {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Keklist</title>
</head>

<body>
    {% include 'partials/_navbar.html' %}
    <div class="container">

        {% include 'partials/_flexrow.html' %}
        {% include 'partials/_searchform.html' %}
        
        {% block content %}
        {% endblock content %}

    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>